
@using TuHuTuHu.Models;

@model List<TuHuTuHu.Models.Post>

@{
    ViewBag.Title = "Newfeed";
}

<div class="posts">
    <div class="onYourMind">
        <div class="yourmind-textpart">
            <form action="/Base/UploadFile" enctype="multipart/form-data" method="post" style="width: 100%">

                <textarea name="yourMind" oninput="auto_grow(this)" placeholder="Bạn đang nghĩ gì..."></textarea>
                <input id="file-input" type="file" name="file" onchange="loadImage(event)" accept="image/*" style="display:none" />
                <button id="post-btn" type="submit" style="display:none"></button>

                @ViewBag.Message
            </form>

            <div id="postBtn" onclick="triggerPostButton()">Đăng</div>
        </div>
        <div class="add-img-container">
            <div class="output" id="output"></div>
            <div id="addimg-btn" onclick="triggerFileButton()">
            </div>
        </div>
    </div>

    @foreach (Post post in Model)
    {
        @Html.Partial("_Post", post);
    }
    <div id="clickedPost"></div>
</div>

<!-- Edit & Delete Modal -->
@Html.Partial("_Modal")