<div class="modal fade" id="deletePostDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <strong></strong>
                <h4 class="modal-title" id="myModalLabel"><strong>Xác nhận xoá</strong></h4>
            </div>
            <form action="/Newfeed/DeletePost" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xoá bài viết này không?</p>
                    <input type="text" name="selectedPost" id="selectedPost" value="" hidden="hidden"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editPostDialog" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <strong></strong>
                <h4 class="modal-title" id="editModalLabel"><strong>Sửa bài viết</strong></h4>
            </div>
            <form action="/Newfeed/EditPost" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <textarea id="editInput" name="yourMind" oninput="auto_grow(this)"></textarea>
                    <input type="text" name="selectedPost" id="selectedPost1" value="" hidden="hidden"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-success">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editUserInfoDialog" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <strong></strong>
                <h4 class="modal-title" id="editUserInfoModalLabel"><strong>Sửa thông tin cá nhân</strong></h4>
            </div>
            <form id="changeUserInfoForm" action="/Userpage/EditUserInfo" enctype="multipart/form-data" method="post">
                <div class="modal-body" style="padding: 20px 75px 20px 50px">
                    * Để trống trường không muốn thay đổi<br><br>
                    <div class="form-group">
                        <label for="fullname">Họ và tên</label>
                        <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Họ và tên">
                        <br />
                        <label for="newPwd">Mật khẩu mới</label>
                        <input type="password" class="form-control" name="newPwd" id="newPwd" placeholder="Mật khẩu mới">
                        <br />
                        <label for="retypePwd">Nhập lại mật khẩu</label>
                        <input type="password" class="form-control" name="retypePwd" id="retypePwd" placeholder="Nhập lại mật khẩu">
                        <br />
                        <label for="newAvt">Ảnh đại diện</label>
                        <input type="file" class="form-control-file" name="newAvt" id="newAvt">
                        <br />
                        <label for="newCover">Ảnh bìa</label>
                        <input type="file" class="form-control-file" name="newCover" id="newCover">
                        <br />
                        <label for="oldPwd">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" name="oldPwd" id="oldPwd" placeholder="Mật khẩu" oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu để xác nhận')" required>
                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    <button type="button" id="changeInfoSubmitBtn" class="btn btn-success">Lưu</button>
                    <button type="submit" id="changeInfoSubmit" hidden="hidden"></button>
                    <script>
                        $('#changeInfoSubmitBtn').click(function (e) {
                            
                            pwd = $("#oldPwd").val();
                            newPwd = $("#newPwd").val();
                            retypePwd = $("#retypePwd").val();

                            if (newPwd != retypePwd) {
                                alert("Mật khẩu nhập lại không khớp");
                                return;
                            }

                            if (pwd == "") {
                                $('#changeInfoSubmit').click();
                            }
                            else {
                                $.ajax({
                                    url: '/Base/PassCheck',
                                    type: 'GET',
                                    dataType: 'json',
                                    data: { pwd: pwd },
                                    success: function (data) {
                                        if (data == true) {
                                            $('#changeUserInfoForm').submit();
                                        }
                                        else {
                                            alert("Mật khẩu xác nhận sai")
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //some errror, some show err msg to user and log the error
                                        alert(xhr.responseText);
                                    }
                                });
                            }
                        });
                    </script>
                </div>
            </form>
        </div>
    </div>
</div>